/* App */
.App {
  display: flex;
  background-color: #034694;
  gap: 200px;
  align-items: center;
}

/* logos */
.logos {
  margin-left: 200px;
  display: flex;
  align-items: center;
}

.cosmosLogo {
  font-size: large;
  color: white;
}

.generalEvaluatorLogo {
  margin-left: 20px;
}

.feedbackNotesContainer {
  display: flex;
  flex-wrap: wrap;
}

.feedbackNotesAndLabelOuterDiv {
  padding-top: 20px;
}

.feedbackNote {
  width: 200px;
  border: 1px solid gray;
  background-color: lightyellow;
  padding: 2px;
  text-align: left;
  margin-right: 10px;
  margin-top: 10px;
}

.showingFeedback {
  /* margin-top: 20px; */
  margin-bottom: 20px;
  margin-left: 10px;
}